.client{
  position: absolute;
  bottom: -12%;
  width: 100%;
  .carousel-indicators{
	margin: 0;
  }
  .carousel-inner{
	background: $client-bg-color;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	display: flex;
	align-items: center;
	border-radius: 75px;
	.carousel-item{
	  justify-content: center;
	  padding: 40px 0;
	  right: -44%;
	}
  }
}